body {
  background-color: #f5f6fa;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 70px;
  background-color: #fff;
}

.navbar h1 {
  font-size: 30px;
  font-weight: 700;
  font-family:
    Montserratapple-system,
    system-ui,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

.user-img {
  width: 30px;
  height: 30px;
  margin-left: auto;
}

.user-img img {
  width: 100%;
}

.app-logo {
  color: #0290ff;
}

.navbar p {
  margin-left: 30px;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.disabled {
  opacity: 0.5;
}

/* Filter */
.filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-word,
.filter-select {
  font-size: 20px;
}

/* Book */
table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px 60px;
  background-color: #fff;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.book-category {
  padding-top: 10px;
  opacity: 0.5;
  font-size: 14px;
  font-weight: bold;
}

.book-title {
  width: 197px;
  font-size: 22px;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 700;
  color: #121212;
}

.options {
  margin: 20px 0 10px 0;
}

.buttons {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  background: none;
  cursor: pointer;
  border: none;
}

.border-right {
  border-right: 1px solid #ddd;
}

.book-progress {
  display: flex;
  align-items: center;
}

.circle {
  background-color: #fff;
  border: 5px solid #307bbe;
  border-bottom-color: #eee8e8;
  height: 60px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 60px;
  margin-right: 0.6em;
}

.status-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.status-info span {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400;
}

.status-info span:first-child {
  color: #121212;
  font-size: 25px;
}

.status-info span:nth-child(2) {
  color: rgb(161, 161, 161);
  font-size: 15px;
}

.book-update {
  display: flex;
  flex-direction: column;
}

.chap {
  color: rgb(148, 148, 148);
  text-transform: uppercase;
}

.num {
  font-weight: bold;
}

.update-button {
  margin-top: 25px;
  background-color: #0290ff;
  border: none;
  width: 184px;
  height: 33px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
}

/* Form */
.form-wrapper {
  padding: 10px 60px;
  display: block;
  width: 80%;
  margin: auto;
}

.form-wrapper h2 {
  width: 200px;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
  text-transform: uppercase;
}

.form-wrapper form input {
  width: 50%;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  box-sizing: border-box;
}

.form-wrapper form select {
  margin-left: 50px;
  width: 20%;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  box-sizing: border-box;
}

.form-wrapper form button {
  width: 19%;
  height: 42px;
  box-sizing: border-box;
  background-color: #0290ff;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin-left: 50px;
  text-transform: uppercase;
}